
# BEGIN WordPress
# Les directives (lignes) entre « BEGIN WordPress » et « END WordPress » sont générées
# dynamiquement, et doivent être modifiées uniquement via les filtres WordPress.
# Toute modification des directives situées entre ces marqueurs sera surchargée.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /chaletsetcaviar/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /chaletsetcaviar/index.php [L]
</IfModule>

# END WordPress
# BEGIN WP-Optimize Browser Cache
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css "access 28 days"
	ExpiresByType text/html "access 28 days"
	ExpiresByType image/gif "access 28 days"
	ExpiresByType image/png "access 28 days"
	ExpiresByType image/jpg "access 28 days"
	ExpiresByType image/jpeg "access 28 days"
	ExpiresByType image/webp "access 28 days"
	ExpiresByType image/x-icon "access 28 days"
	ExpiresByType application/pdf "access 28 days"
	ExpiresByType application/javascript "access 28 days"
	ExpiresByType text/x-javascript "access 28 days"
	ExpiresByType application/x-shockwave-flash "access 28 days"
	ExpiresDefault "access 28 days"
</IfModule>

<IfModule mod_headers.c>
	<filesMatch "\.(ico|jpe?g|png|gif|webp|swf)$">
		Header set Cache-Control "public"
	</filesMatch>
	<filesMatch "\.(css)$">
		Header set Cache-Control "public"
	</filesMatch>
	<filesMatch "\.(js)$">
		Header set Cache-Control "private"
	</filesMatch>
	<filesMatch "\.(x?html?|php)$">
		Header set Cache-Control "private, must-revalidate"
	</filesMatch>
</IfModule>

#Disable ETag
FileETag None
# END WP-Optimize Browser Cache